h3{
    color: red;
}

label{
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 150px;
    background-color: rgb(8, 250, 173);
}